.clients {
    padding: 94px 0;
}

.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
}

.clients-lists {
    &:not(:last-child) {
        margin-right: 30px;
    }
}

.clients-a {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8;
    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

}

.clients-a {
    &:hover {
        fill: var(--hover-focus-color);
        border-color: var(--hover-focus-color);
    }

    &:focus {
        fill: var(--hover-focus-color);
        border-color: var(--hover-focus-color);
    }
}