:root {
    --white-color: #ffffff;
    --hover-focus-color: #2196F3;
    --main-text-color: #212121;
    --header-logo-color: #000000;
    --contact-color: #757575;
    --section-hero-color: #2F303A;
    --btn-hover-focus-color: #188CE8;
    --section-team-color: #F5F4FA;
}